.row {
    height: 80px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 10px;

}
h1 {
    padding: 50px;
    font-size: 50px;
}
h3:hover {
    color: blue;
    /* background: orange;     */
}
h3 {
    padding-top: 8px;
    /* width: 100px; */
}
.container {
    background: peachpuff;
    margin-top: 20px;
    height: 675px;
}
body {
    background: blueviolet;
}
.start-box {
    padding-bottom: 0px;
    text-align: center;
    width: 1140px;
    height: 50px;
}
#start-btn {

}
#timer {
    visibility: hidden;
}
#question {
    visibility: hidden;
}
#answer-block {
    visibility: hidden;

}
#question {
    font-size: 30px;
}
