    body {
    background-image:url(memphis-colorful.png);
    /* background-color: aquamarine; */
    /* Background courtesy of subtlepattern.com */
  }
.row {
    height: 80px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}
h1 {
    padding-top: 25px;
    font-size: 100px;
    margin-bottom: 0px;
}
h2 {
    margin-bottom: 0px;
    color: green;
}
h3:hover {
    color: blue;
    /* background: orange;     */
}

h3 {
    padding-top: 8px;
    /* width: 100px; */
}
h4 {
    margin-bottom: 0px;
    color: red;
}
.container {
    /* background: peachpuff; */
    background-image:url(memphis-colorful.png);
    margin-top: 20px;
    height: 535px;
}
body {
    background: blueviolet;
}
.start-box {
    padding-bottom: 0px;
    text-align: center;
    width: 1140px;
    height: 50px;
}
#start-btn {

}
#timer {
    visibility: hidden;
}
#final-stats {
    font-size: 25px;
}
#question {
    visibility: hidden;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 3px;
    font-size: 33px;
    line-height: 110%;
    font-weight: bolder;
    color: red; 
}
#answer-block {
    visibility: hidden;
}
#playAgain-btn {
    background: pink;
    color: blue;
    margin-top: 15px;
    padding-top: 2px;
}
#playAgain-btn:hover {
    background: red
}
img {
    border: 2px solid black;
}   
